<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Django - news portal</title>

    {% load static %}
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
</head>

<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
   <div class="container">
       <a class="navbar-brand" href="#">Django: News Portal - Модуль D3</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse"
               data-target="#navbarResponsive"
               aria-controls="navbarResponsive" aria-expanded="false"
               aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarResponsive">
           <ul class="navbar-nav ml-auto">
               <li class="nav-item"> <a class="nav-link" href="/news/">Все посты</a></li>
               <li class="nav-item"> <a class="nav-link" href="/admin/">Админка</a></li>
               <li class="nav-item"> <a class="nav-link" href="{% url 'search_posts' %}">Поиск</a></li>
               <li class="nav-item"> <a class="nav-link" href="/news/articles/create/">Добавить статью</a></li>
               <li class="nav-item"> <a class="nav-link" href="/news/news/create/">Добавить Новость</a></li>
               <!-- Добавить здесь новые пункты меню. -->
           </ul>
           <h1>{{ request.resolver_match.view_name }}</h1>
       </div>
   </div>
</nav>

<!-- Page content-->
<div class="container">
    <div class="row">
            {% block content %}
            {% endblock content %}
    </div>
</div>
</body>
</html>
